<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="parseoJDTT.commands.category">
      </category>
      <command
            name="JDT"
            categoryId="parseoJDTT.commands.category"
            id="parseoJDTT.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="parseoJDTT.commands.sampleCommand"
            class="parseojdtt.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="parseoJDTT.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="JDT"
               mnemonic="M"
               id="parseoJDTT.menus.sampleMenu">
            <command
                  commandId="parseoJDTT.commands.sampleCommand"
                  mnemonic="S"
                  id="parseoJDTT.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="parseoJDTT.toolbars.sampleToolbar">
            <command
                  commandId="parseoJDTT.commands.sampleCommand"
                  icon="icons/sample.png"
                  tooltip="Generate JDT in console"
                  id="parseoJDTT.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="parseoJDTT"
            name="Sample Category">
      </category>
      <view
            allowMultiple="false"
            category="parseoJDTT"
            class="parseojdtt.views.SampleView"
            icon="icons/sample.png"
            id="parseojdtt.views.SampleView"
            inject="true"
            name="Sample View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="parseojdtt.views.SampleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
