<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="parseoAST.commands.sampleCommand"
            class="parseoast.handlers.GetInfo">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="parseoAST"
            name="Debug"
            parentCategory="org.eclipse.debug.ui">
      </category>
      <view
            category="parseoAST"
            class="parseoast.views.Flowcreate"
            icon="icons/workflow1600.png"
            id="parseoast.views.DiagramaFlujo"
            inject="true"
            name="Diagrama de Flujo">
      </view>
   </extension>

</plugin>
